<head>
  <link rel="stylesheet" href="assets/css/style.css">
  <!-- Load Vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuex"></script>
</head>
<body>
  <!-- Add Botswanna container -->
  <div class="chat" id="botswanna">
    <div class="chat-container">
      <!-- close button which hides the chat container goes here -->
      <!-- container which stores the speech bubbles -->
      <Bubble
        v-for="(bubble, index) in bubbles"
        :type="bubble.type"
        :data="bubble.data"
        :key="index"
        :index="index"
        @button-click="_onButtonClick"
      ></Bubble>
      <!-- text input box -->
      <div>
        <input
          v-model="message"
          type="text"
          @keyup.enter="_onInputSubmit"
        ></input>
      </div>
    </div>
  </div>

  <!-- Load our Botswanna react component -->
  <script src="botswanna.js"></script>
  <script>
    const botswanna = new Botswanna({
      propsData: {
        initBubbles: [
          { 
            type: 'buttons', 
            data: {
              buttons: [
                { 
                  title: 'Learn Vue', 
                  value: 'Vue' 
                },
                { 
                  title: 'Learn React', 
                  value: 'React' 
                }
              ]
            }
          },
          { 
            type: 'text',
            data: {
              content: 'Build something awesome',
              bot: false 
            }
          }
        ]
      }
    }).$mount('#botswanna')
    botswanna.listen(({value, trigger}) => console.log(value, trigger, 'callback'))
    botswanna.sendMessage(
      'text', 
      {
        content: 'Learn JavaScript',
        bot: true,
      },
    )
  </script>
</body>