<head>
  <!-- Load Vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuex"></script>
</head>
<body>
  <!-- Add Botswanna container -->
  <div id="botswanna">
    <p>{{ message }}</p>
    <input 
      v-model="message" 
      type="text"
      v-on:keyup.enter="_onInputSubmit"
    />
    <Bubble
      v-for="(bubble, index) in bubbles"
      :type="bubble.type"
      :data="bubble.data"
      :key="index"
      :index="index"
      @button-click="_onButtonClick"
    />
  </div>

  <!-- Load our Botswanna react component -->
  <script src="botswanna.js"></script>
  <!-- <script>
    const botswanna = new Botswanna()
    botswanna.listen(({value, trigger}) => console.log(value, trigger, 'callback'))
    botswanna.sendMessage({ 
      type: 'text', 
      data: {
        content: 'Learn JavaScript',
        bot: true
      }
    })
  </script> -->
</body>