@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

:root {
  --bot-header-color: #1F76C7;
  --chat-bubble-color: #D6E5F2;
  --font-color: #31475C;
  --highlight-color: #DFDFDF;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

.chat {
  background: white;
  position: fixed;
  bottom: 5px;
  width: 500px;
  height: 650px;
  /* Max height = 100vh - 2*bottom_distance - 2*margin */
  max-height: calc(100% - 10px - 30px); 
  /* Max width = 100vw - 2*right_distance - 2*margin */
  max-width: calc(100% - 10px - 30px); 
  z-index: 1000;
  right: 5px;
  left: auto;
  margin: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.chat-minimized {
  position: fixed;
  bottom: 0px;
  height: 75px;
  width: 75px;
  z-index: 1000;
  right: 5px;
  left: auto;
  margin: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  transition: transform 0.5s;
  border-radius: 37.5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.chat-minimized:hover{
  transform: translateY(-5px);
}

.chat-header {
  height: 50px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  background: var(--bot-header-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
}
.chat-expand {
  padding: 10px;
  height: 50px;
  width: 50px;
}
.chat-header-title {
  color: #ffffff;
  padding: 10px;
  line-height: 30px;
}
.chat-close {
  padding: 10px;
}
.chat-open-icon {
  height: 75px;
  width: 75px;
  right: 0px;
  cursor: pointer;
}
.chat-close-icon {
  height: 18px;
  width: 18px;
  cursor: pointer;
  margin: 6px;
}
.chat-close-icon:hover {
  filter: brightness(90%);
  -webkit-filter: brightness(90%);
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  -o-transition: all 0s ease;
  -ms-transition: all 0s ease;
  transition: all 0s ease;
  cursor: pointer;
}

.input-box {
  border-top: 1px solid var(--highlight-color);
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 10px 15px;
}

.input-submit {
  padding: 7.5px 0px 7.5px 15px;
  min-height: 0;
}

.input-submit:hover {
  filter: brightness(120%);
  -webkit-filter: brightness(120%);
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  -o-transition: all 0s ease;
  -ms-transition: all 0s ease;
  transition: all 0s ease;
  cursor: pointer;
}

.chat-input {
  width: 85%;
  line-height: 35px;
  padding: 5px 10px 5px 10px;
  border: 1px solid var(--highlight-color);
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: var(--font-color);
  min-height: 0;
}

.bubbles-container {
  flex-grow: 1;
  margin: 5px 15px;
  display: block;
  overflow-y: scroll;
  max-height: 95%;
}

.bubble .text-bubble-container {
  display: flex;
  margin-top: 7.5px !important;
  margin-bottom: 7.5px !important;
  padding: 2px 0px 2px 0px;
}

.bot-prof-icon {
  height: 40px;
  width: 40px;
  margin: 5px 5px 0px 0px;
}

.text-bubble {
  padding: 13px;
}

.text-bubble-content-container > p {
  line-height: normal;
}

.right-text-bubble {
  background: var(--bot-header-color);
	color: white;
	border-radius: 20px 20px 3px 20px;
	display: block;
  max-width: 70%;
  float: right;
  clear: both;
  justify-content: flex-end;
  word-wrap: break-word;
}

.left-text-bubble {
	background: var(--chat-bubble-color);
	color: var(--font-color);
	border-radius: 3px 20px 20px 20px;
	display: block;
  max-width: 70%;
  float: left;
  clear: both;
  word-wrap: break-word;
}

.suggestion-btn-container, .linkout-btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.suggestion-btn, .linkout-btn {
  margin: 5px 10px;
  padding: 15px;
  border-radius: 20px;
  background: var(--bot-header-color);
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  cursor: pointer;
  border: none;
  outline: none;
}

.linkout-btn {
  display: flex;
  align-items: center;
}

.suggestion-btn:hover {
  filter: brightness(120%);
  -webkit-filter: brightness(120%);
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  -o-transition: all 0s ease;
  -ms-transition: all 0s ease;
  transition: all 0s ease;
  cursor: pointer;
}

.linkout-btn:hover{
  transform: translateY(-2px);
  filter: brightness(120%);
  -webkit-filter: brightness(120%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

p .linkout-content {
  margin-top: auto;
  margin-bottom: auto;
}

.linkout-icon {
  height: 1.25em;
  width: 1.25em;
  margin-left: 5px;
  fill: #ffffff;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .25s, transform 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.fade-enter {
  transform: translateX(-10px);
}
.fade-leave-to {
  transform: translateX(10px);
}

/* text bubble text formatting */
.text-bubble-content-container > p {
  margin: 0px;
  text-align: left;
  font-size: 16px;
}

.text-bubble-content-container > ol {
  padding-left: 0.5em;
  font-size: 15px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  line-height: 1.25em;
  padding-inline-start: 40px;
}

.text-bubble-content-container ul {
  padding-left: 0.5em;
  font-size: 15px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  line-height: 1.25em;
  padding-inline-start: 40px;
}

.text-bubble-content-container  li {
  margin: 0.75em;
}

.text-bubble-content-container  a {
  color: var(--bot-header-color);
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    height: 100%;
  }

  .chat {
    border-radius: 0px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
  }

  .chat-header {
    border-radius: 0px;
  }
}