.chat {
  position: fixed;
  bottom: 20px;
  top: 20px;
  width: 400px;
  z-index: 99;
  right: 2em;
  left: auto;
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.chat-minimized {
  position: fixed;
  bottom: 20px;
  height: 100px;
  width: 400px;
  z-index: 99;
  right: 2em;
  left: auto;
  margin: 15px;
  display: flex;
  justify-content: flex-end;
}

.chat-close {
  display: flex;
  justify-content: flex-end;
}

.chat-open-icon {
  height: 75px;
  width: 75px;
  right: 0px;
  cursor: pointer;
}

.chat-close-icon {
  height: 18px;
  width: 18px;
  cursor: pointer;
  margin: 8px;
}

.chat-header {
  position: absolute;
  height: 30px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  background: grey;
}

.input-box {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.chat-input {
  width: 100%;
}

.bubbles-container {
  flex-grow: 1;
  margin-top: 40px;
  margin-bottom: 40px;
  display: inline-block;
  overflow-y: scroll;
  max-height: 95%;
  width: 100%;
}

.bubble .text-bubble-container {
  display: flex;
}

.bot-prof-icon {
  height: 35px;
  width: 35px;
  margin: 5px;
}

.text-bubble {
	margin-top: 5px !important;
  margin-bottom: 5px !important;
}


.right-text-bubble {
	background: #42a5f5;
	color: #fff !important;
	border-radius: 20px 20px 3px 20px;
	display: block;
  max-width: 50%;
  float: right;
  clear: both;
  padding: 7px 13px 7px 13px;
  margin-right: 10px;
  justify-content: flex-end;
}

.left-text-bubble {
	background: #f1f1f1;
	color: #000 !important;
	border-radius: 20px 20px 20px 3px;
	display: block;
  max-width: 50%;
  float: left;
  clear: both;
	padding: 7px 13px 7px 13px;
}

.suggestion-btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.suggestion-btn {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 3px;
  margin-right: 3px;
}

